<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>my test gallery</name>

  <description>
      test Gallery Application.
  </description>

  <author href="https://github.com/umarhayat/Museum Gallery" email="umarhayat@gmail.com">
      Umar Hayat
  </author>

</widget>
